*{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    width: 100%;
    height: 100vh;
    box-sizing: border-box
}

.dashboard{
    background-color:#458fda;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-items{
    font-size: 20px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li{
    list-style: none;
}

li:hover{
    cursor: pointer;
    color: blanchedalmond;
}

.main-section{
    background-color: #e4e8f1;
    display: grid;
    grid-gap: 1rem;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.main-header{
    background-color: white;
    box-shadow:0 4px 6px -2px rgba(0,0,0,0.3);
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template: repeat(10, 1fr)
}

.search-section{
    grid-column: 1 / 7;
    margin: 1rem 3rem;
    display: flex;
}

.search-section span{
    font-size: 24px;
}

.search-section input{
    width: 80%;
    border-radius: 50px ;
    border: none;
    background-color: #e4e8f1;
    margin-left: 3rem;
}

.name-section{
    margin: 1rem 3rem;
    grid-column: 7 / 10;
    display: flex;
    justify-content: space-around;
}

.navigation-bar{
    padding: 1rem;
    grid-column: 10 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    display: flex;
    align-items: center;
}

.info p{
    font-size: 12px;
}

.info a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.options{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button{
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: #458fda;
    color: white;
}

.content{
    margin-right: 2rem;
    grid-column: 1 / 9;
    grid-row: 2 / -1;
    display: grid;
    grid-template: 20px repeat(6, 220px) / repeat(2, 500px);
    grid-gap: 2rem;
}

.content-card{
    background-color: white;
    box-shadow: 0 0 1px;
    margin-left: 2rem;
    border-left: orange solid 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.content-card h3{
    margin: 1rem;
}

.content-card p{
    margin: 1rem;
}

.content h2{
    margin-left: 2rem;
    grid-column: 1 / -1;
}

.advertisements{
    display: flex;
    flex-direction: column;
    grid-column: 9 ;
    grid-row: 2 / 6;
}

.trending{
    display: flex;
    flex-direction: column;
    grid-row: 6 / 10;
}

.cards{
    background-color: white;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.advertisements-card{
    border-bottom: solid gray;
    margin: 0.5rem;
    padding: 1rem;
}

.advertisements-card:last-of-type{
    border: none;
}

.trending-card{
    margin: 0.5rem 1rem;
    padding: 1.6rem;
    display: flex;
}

.trending-card p{
    margin-left: 2rem;
}

.icons{
    margin-right: 1rem;
    font-size: 24px;
    text-align: end;
}

.icons span{
    margin-left: 1rem;
}

.icons span:hover{
    cursor: pointer;
    color: gray;
}

